


.profilecard
{
    background: linear-gradient(45deg, #FF0000, #FF6B6B, #4A90E2);
    display: flex;
    border-radius: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    
    
}

:root{

    --dark--primary : #1b1f24;
    --primary:#12bdff;
}

.img
{
    height: 150px;
    width: 150px;
    border-radius:100px;
    padding: 30px;
    
}


.leftbox
{
    background: linear-gradient(to bottom, #000, #5c5579);
    color: white;
    height: 400px;
    width: 200px;
    margin: 30px;
    border-radius: 30PX;
}

.rightbox
{
    background: linear-gradient(to bottom, #000, #9a8fca);
    color: white;
    height: 400px;
    width: 500px;
    margin: 30px;
    border-radius: 30px;
}

.leftcontent
{
    padding-left: 20px;
}

.rightcontent
{
    display: grid;
    justify-content: center;
    padding: 50px;
}

h1{
    font-size: 36px;
    background: linear-gradient(45deg, #FF1493, #8270a9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2{
    font-size: 20px;
    background: linear-gradient(45deg, #FF1493, #FFA07A);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media (max-width: 768px) {
    .profilecard {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding: 40px;

    }
 

    .leftbox {
        width: 100%;
        margin: 0;
        margin: 20px;
    }

    .rightbox {
        width: 100%; /* Expand to full width */
        margin: 0;
    }
}

@media (max-width: 562px) {
    .img {
        height: 100px;
        width: 100px;
        padding: 15px;
        position: relative;
        left: 85px;
        top: 80px;
    }

    .leftcontent
    {
        display: grid;
        justify-content: center;
        position: relative;
        top: 80px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }
}